{% extends 'base.html' %}

{% block content %}
	<form method="POST">
        {% csrf_token %}
		<h4 class="mt-3">Honeypot List:</h4>
		<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>Honeypot Name</th>
				<th>Type</th>
				<th>Service</th>
				<th>Updated</th>
				<th>Machine Name</th>
				<th>Location</th>
				<th>Platform</th>
				<th>IP Address</th>
				<th>Last Status</th>
				<th>Refresh Status</th>
			</tr>
		</thead>
		<tbody>
			{% for x in dat %}
			<tr>

				<td><input type="radio" id="hp" name="hp" value="{{x.0}}"></td>
				<td><input type="hidden" id="name_h" name="name_h" value="{{x.1}}"/>{{x.1}}</td>
				<td>{{x.2}}</td>
				<td>{{x.3}}</td>
				<td>{{x.4}}</td>
				<td>{{x.6}}</td>
				<td>{{x.7}}</td>
				<td>{{x.8}}</td>
				<td>{{x.9}}</td>
				<td>{{x.10}}</td>
				<td><input type="submit" class="my-button" id="submit" name="submit" value="Refresh"></td>

			</tr>
			{% endfor %}
		</tbody>
		</table>
		<h4></h4>
	</form>
	
<h3 class="mt-4">Last Event</h3>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Target Device</th>
            <th>Action</th>
            <th>Status</th>
            <th>Time Done</th>
        </tr>
    </thead>
    <tbody>
        {% for log in last_event %}
        <tr>
            <td></td>
            <td>{{log.target}}</td>
            <td>{{log.action}}</td>
            <td>{{log.status}}</td>
            <td>{{log.time}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}