[Unit]
Description=Django service for auto honeypot deployment
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/honeypot_auto_deploy
Restart=on-failure
RestartSec=3
User=root
ExecStart=/home/ubuntu/honeypot_auto_deploy/venv/bin/python3 /home/ubuntu/honeypot_auto_deploy/manage.py runserver 10.33.102.247:8000

[Install]
WantedBy=multi-user.target